/* Resetting default list styles */
ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}
body {
    font-size: 16px; /* Default font size for larger screens */
    margin: 0; /* Add this line to remove default margin */
}

header {
    text-align: center;
    padding: 10px;
    /* add a background color with a gradient linear-gradient(to right, #d7e9f7, #000000) and an image behind the gradient */
    background-image: linear-gradient(rgba(0, 0, 0, 0.401), rgb(0, 0, 0)), url(https://i.pinimg.com/564x/d6/9b/fb/d69bfb0edcfd6cfe3e618a075c52c3ff.jpg);
    background-position: center;
    background-size: cover;
    color: #fff; /* Adjust as needed */
}
/* Styling navigation menu */
nav ul {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}
nav{

    padding: 10px;
}


nav a {
    text-decoration: none;
    color: #000000; /* Adjust link color as needed */
    padding: 8px 12px;
    border-radius: 12px;
    flex: 1;
    background-color: #ccc;
}

/* Styling links in content sections */
section a {
    text-decoration: none;
    color: #000306; /* Adjust link color as needed */
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    border: 1px solid #01060b; /* Add border for button-like appearance */
    border-radius: 5px;
}

/* Hover effect for links */
section a:hover,
nav a:hover {
    background-color: #06135a; /* Adjust hover background color */
    color: #fff; /* Adjust hover text color */
}

/* flex-me */
.flex-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.flex-me2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
/* make a pill for li elements */
.pills{
    border-radius: 20px;
    background-color: #ccc;
    padding: 8px;
    margin: 5px;
}
.btn {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    max-width: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

#linkedIn {
    max-width: 30px;
}

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    text-align: center;
  }

  .card-link {
    text-decoration: none;
    color: #080808;
    display: block;
    margin-top: 10px;
  }

  footer > p{
    text-align: center;
    padding: 10px 30px;

  }

/* Mobile-first design */
body {
    font-size: 16px; /* Default font size for larger screens */
}

@media only screen and (max-width: 768px) {
    /* Adjust styles for screens up to 768px width */
    body {
        font-size: 14px;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }
    body > nav > ul > li{
        margin: 15px 0;
        font-size: large;
    }
}